@using Project.Model;
@using Website.Controllers;
@{
    Layout = null;
}
@model UserViewModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TatooStudio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tatoo Studio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Profile", "Account", "Account")</li>
                    <li>@Html.ActionLink("My orders", "Order", "Account")</li>
                    <li class="book-btn">@Html.ActionLink("Book a time", "ProfileBooking", "Order")</li>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(nameof(AccountController.UpdateUser), "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Email)
        <div class="container my-container">
            <br />
            <br />
            <p>
                @Html.DisplayFor(model => model.Email)
            </p>
            <p>
                @Html.EditorFor(model => model.Name)
            </p>
            <p>
                @Html.EditorFor(model => model.Surname)
            </p>
            <p>
                @Html.EditorFor(model => model.PhoneNumber)
            </p>

            <input type="submit" />
        </div>
    }
</body>

