@model Project.Model.LoginModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <input type="hidden" />
            <p>
                <br />
                <br />
                <label>Email</label>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    <div class="validation-summary-errors">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </p>
        
            <p>
                <label>Password</label>
                <div>
                    @Html.EditorFor(model => model.Password)
                    <div class="validation-summary-errors">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

            </p>  

        <p><button class="btn btn-default" type="submit">Sign in</button></p>
    </div>
}