@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TatooStudio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tatoo Studio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Profile", "Account", "Account")</li>
                    <li>@Html.ActionLink("My orders", "Order", "Account")</li>
                    <li>@Html.ActionLink("Book a time", "ProfileBooking", "Account")</li>

            </div>
        </div>
    </div>


    <div class="center-block">
        <div class="container">
            <form>
                    <br />
                    <input type="date" class="form-control" placeholder="choose date" />
                    <br />
                    <select class="custom_select form-control">
                        <option selected>Choose your service</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <br />
                    <select class="custom_select form-control">
                        <option selected>Choose your master</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                <br />
                <button class="btn btn-submit btn-lg" type="submit">Book</button>
            </form>
        </div>
    </div>
</body>

